html {
  font-size: 20px;
  color: #333;
}

h1 {
  font-size: 1.7rem;
  background: #03273d;
  color: white;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
}

ul.nav {
  display: flex;
  margin: 0;
  padding: 1rem;
}
.nav li {
  margin: 0;
  list-style: none;
}
.nav li a {
  padding: 0.25rem 1rem;
  margin-left: -1rem;
  color: inherit;
  text-decoration: none;
}
.nav li a:hover {
  text-decoration: underline;
}

.nav li a.active {
  font-weight: bold;
}

.main-nav {
  background: #043b41;
  color: white;
}

.sections-nav {
  background: #12584d;
  color: white;
}

ul.books-nav {
  background: #eee;
  display: block;
}
.books-nav li {
  padding-bottom: 0.5rem;
}
.books-nav li:last-child {
  padding-bottom: 0;
}

h2,
p {
  padding: 0 1rem;
}

p {
  max-width: 30rem;
}

footer {
  font-size: 80%;
  padding: 1rem;
}

.book-detail h2 span {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
}
