html {
  font-size: 20px;
}

ul {
  display: flex;
  margin: 0;
  padding: 1rem;
}
li {
  margin: 0;
  list-style: none;
}
li a {
  padding: 0.25rem 1rem;
  margin-left: -1rem;
  color: inherit;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}

li a.active {
  font-weight: bold;
}

.main-nav {
  background: #043b41;
  color: white;
}

.sections-nav {
  background: #12584d;
  color: white;
}

.books-nav {
  background: #eee;
  display: block;
}
.books-nav li {
  padding-bottom: 0.5rem;
}
.books-nav li:last-child {
  padding-bottom: 0;
}

h1,
h2,
h3,
p {
  padding: 0 1rem;
}

p {
  max-width: 30rem;
}

footer {
  font-size: 80%;
  padding: 1rem;
}
